body {
	background-color: orange;
}
h1, h3, ul, p {
	color: white;
}
h1  {
	font: 36px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h3	{
	font: 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul	{
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p 	{
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}